{% extends "base.html" %}
{% load static %}
{% block title %}PhoneCab - Anagrafica{% endblock %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block application %}
<div class="page-header">
  <button class="action btn btn-lg btn-round btn-primary"
          onClick="Phoneuser.edit(0)"
          data-placement="bottom" data-title="Nuova Anagrafica"
          data-toggle="tooltip" type="button">
    <span class="zmdi zmdi-plus"></span>
    <div class="ripple-wrapper"></div>
  </button>
  <h1><i class="zmdi zmdi-accounts"></i> Anagrafica</h1>
  <!-- <p class="lead">Lista delle anagrafiche in corso, con lo stato attuale della scheda e la possibilit&agrave; di esportazione dei dati</p> -->
</div>
<div class="card bordered">
    <div class="card-content">
        <form method="GET">
        <div style="float:right;">
                <button class="btn filtra btn-success phoneuser-do-filter"><i class="zmdi zmdi-flash"></i> Filtra</button>
                <a href="/phoneusers" class="btn filtra btn-info"><i class="zmdi zmdi-close"></i></a>
        </div>
        <span>
            <label>Cognome, Matricola o Codice&nbsp;</label>
            <input type="text" name="keyword" value="{{ d.keyword }}" maxlength="20" size="20" class="input-small">
        </span>
        <span>
            <label>Stato&nbsp;</label>
            <select name="enabled" style="width: 160px;">
                <option value=""{% if d.enabled == ""%} selected{% endif %}>Tutte</option>
                <option value="1"{% if d.enabled == "1"%} selected{% endif %}>Abilitate</option>
                <option value="0"{% if d.enabled == "0"%} selected{% endif %}>Disabilitate</option>
            </select>
        </span>

        </form>
        <div style="clear:both;"></div>
    </div>
    <div class="inner table" id="phoneusers">{{ phoneusers }}</div>
</div>
{% endblock application %}
{% block script %}
<script src="{% static "js/phoneuser.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock script %}
