{% load static %}
{% load phonecabtags %}
<form class="form-horizontal placeholder-form" novalidate="true">
    <fieldset>
        <!--<legend>{{ form_title }} TEST</legend> <span class="help-block m-b-20">Please fill out the following form below.</span>-->
        <div class="form-group">
            <label for="enabled" class="col-xs-4 control-label">Scheda Attiva</label>
            <div class="col-xs-4">
                <div class="checkbox">
                    <label class="filled">
                        <input type="checkbox" {% if phoneuser.enabled %}checked="checked" {% endif %} id="enabled">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 control-label">Stato</label>
            <div class="col-xs-4">
                <select class="select2 form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="status">
                    <option value="0" {% if phoneuser.status == 0 %} selected{% endif %}>Nuovo arrivo</option>
                    <option value="1" {% if phoneuser.status == 1 %} selected{% endif %}>In attesa di giudizio</option>
                    <option value="2" {% if phoneuser.status == 2 %} selected{% endif %}>Definitivo</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="first-name" class="col-xs-4 control-label">Nome</label>
            <div class="col-xs-6 filled">
                <input type="text" class="form-control input-small" id="first-name" placeholder="Nome" value="{{ phoneuser.first_name }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="last-name" class="col-xs-4 control-label">Cognome</label>
            <div class="col-xs-6 filled">
                <input type="text" class="form-control" id="last-name" placeholder="Cognome" value="{{ phoneuser.last_name }}">
            </div>
        </div>
        <div class="form-group">
            <label for="serial-no" class="col-xs-4 control-label">Matricola</label>
            <div class="col-xs-3 filled">
                <input type="text" class="form-control" id="serial-no" placeholder="Matricola" value="{{ phoneuser.serial_no }}">
            </div>
        </div>
        <div class="form-group">
            <label for="pincode" class="col-xs-4 control-label">Codice Tessera</label>
            <div class="col-xs-3 filled">
                <input type="text" class="form-control" id="pincode" placeholder="Codice" value="{{ phoneuser.pincode }}" maxlength="10" {% if phoneuser.pincode and not user.is_staff %} readonly{% endif %}>
                <span class="pincode-check hide" style="color: red;">Gi&agrave; in uso</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 control-label">Lingua</label>
            <div class="col-xs-4">
                <select class="select2 form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="language">
                    <option value="it" {% if phoneuser.language == 'it' %} selected{% endif %}>Italiano</option>
                    <option value="en" {% if phoneuser.language == 'en' %} selected{% endif %}>Inglese</option>
                    <option value="fr" {% if phoneuser.language == 'fr' %} selected{% endif %}>Francese</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="four-bis-limited" class="col-xs-4 control-label">4 bis limitato</label>
            <div class="col-xs-8">
                <div class="checkbox">
                    <label class="filled">
                        <input type="checkbox" {% if phoneuser.four_bis_limited %}checked="checked" {% endif %} id="four-bis-limited">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="additional_enabled" class="col-xs-4 control-label">Chiamate Supplementari</label>
            <div class="col-xs-8">
                <div class="checkbox">
                    <label class="filled">
                        <input type="checkbox" {% if phoneuser.additional_calls|to_int %}checked="checked" {% endif %} {% if change_additional_calls == 0 %} disabled{% endif %} id="additional-enabled" onclick="Phoneuser.handleAdditionalCalls(this);">
                    </label>
                </div>
            </div>
            <label for="additional-calls" class="col-xs-4 control-label">Numero</label>
            <div class="col-xs-1 filled">
                <input type="text" class="form-control" id="additional-calls" placeholder="" value="{{ phoneuser.additional_calls }}" {% if change_additional_calls == 0 or not phoneuser.id or not phoneuser.additional_calls %} disabled{% endif %}>
            </div>
            <label for="additional-duedate" class="col-xs-3 control-label">Fino al (escluso)</label>
                <input type="text" value="{{ phoneuser.additional_due_date|date:"d-m-Y" }}" maxlength="12" size="8" class="input-small datepicker" {% if change_additional_calls == 0 or not phoneuser.id or not phoneuser.additional_calls %} disabled{% endif %} id="additional-duedate">
        </div>
        <div class="form-group">
            <label for="listening_enabled" class="col-xs-4 control-label">Ascolto</label>
            <div class="col-xs-8">
                <div class="checkbox">
                    <label class="filled">
                        <input type="checkbox" {% if phoneuser.listening_enabled %}checked="checked" {% endif %} id="listening-enabled">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="recording_enabled" class="col-xs-4 control-label">Registrazione</label>
            <div class="col-xs-8">
                <div class="checkbox">
                    <label class="filled">
                        <input type="checkbox" {% if phoneuser.recording_enabled %}checked="checked" {% endif %} id="recording-enabled">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="recording_enabled" class="col-xs-4 control-label">Abilitazione COVID19</label>
            <div class="col-xs-8">
                <div class="checkbox">
                    <label class="filled">
                        <input type="checkbox" {% if phoneuser.covid_enabled %}checked="checked" {% endif %} id="covid-enabled">
                    </label>
                </div>
            </div>
        </div>
        <input type="hidden" id="phoneuser-id-modal" value="{{ phoneuser.id }}">
    </fieldset>
</form>
