{% load phonecabtags %}
<div class="card bordered">
    <div class="card-content">
        <div style="float: right;">
            <span class="label {{phoneuser.additional_calls|to_int|yesno:" green,red"}}">
              <span class="zmdi-hc-stack zmdi-hc-lg">
                <i class="zmdi zmdi-phone zmdi-hc-stack-1x"></i>
                {% if phoneuser.additional_calls|to_int == 0 %}
                <i class="zmdi zmdi-block zmdi-hc-stack-2x"></i>
                {% endif %}
              </span>
              Chiamate Supplementari {% if phoneuser.additional_calls|to_int %} {% if phoneuser.additional_calls %} (fine: {{ phoneuser.additional_due_date|italian_date}}){% else %} a tempo indeterminato{% endif %}{% endif %}
            </span>
            &nbsp;&nbsp;
            <span class="label {{phoneuser.listening_enabled|yesno:" green,red"}}">
              <span class="zmdi-hc-stack zmdi-hc-lg">
                <i class="zmdi zmdi-headset zmdi-hc-stack-1x"></i>
                {% if not phoneuser.listening_enabled %}
                <i class="zmdi zmdi-block zmdi-hc-stack-2x"></i>
                {% endif %}
              </span>
              Ascolto in diretta
            </span>
            &nbsp;&nbsp;
            <span class="label {{phoneuser.recording_enabled|yesno:" green,red"}}">
              <span class="zmdi-hc-stack zmdi-hc-lg">
                <i class="zmdi zmdi-mic zmdi-hc-stack-1x"></i>
                {% if not phoneuser.recording_enabled %}
                <i class="zmdi zmdi-block zmdi-hc-stack-2x"></i>
                {% endif %}
              </span>
              Registrazione
            </span>
        </div>
        <h3 class="user">{{ phoneuser.last_name }} {{ phoneuser.first_name }}
       {% if phoneuser.four_bis_limited %}<small>(4bis limitato)</small>{% endif %}</h3>
        <div class="row">
            <div class="col-md-3">
                <h4 style="color:#666;">Codice: {{ phoneuser.pincode }}</h4>
            </div>
            <div class="col-md-3" style="text-align:center;">
                <h4 style="color:#666;">Matricola: {{ phoneuser.serial_no }}</h4>

            </div>
            <div class="col-md-3">
                <h4 style="color:#666;">Stato: {{ phoneuser.get_status_display | title }}</h4>
            </div>
            <div class="col-md-3" style="text-align:right;">
                <h4 style="color:#666;">Lingua: {{ phoneuser.get_language_display }}</h4>
            </div>
        </div>
    </div>
    <div class="card-action">
        <div class="row">
            {% if priv_anagrafica > 0 %}
                <div class="col-md-6">
                {% if phoneuser.enabled %}
                    <button class="btn green switchable" onClick="Phoneuser.changeStatus({{ phoneuser.id }}, 0)" data-help="Lo stato della scheda determina la possibilit&agrave; o meno di effettuare telefonate.">
                    <span class="status"><i class="zmdi zmdi-check"></i> SCHEDA ATTIVA</span>
                    <span class="action"><i class="zmdi zmdi-close"></i> DISATTIVA LA SCHEDA</span>
                    </button>
                {% else %}
                    <button class="btn red switchable" onClick="Phoneuser.changeStatus({{ phoneuser.id }}, 1)" data-help="Lo stato della scheda determina la possibilit&agrave; o meno di effettuare telefonate.">
                    <span class="status"><i class="zmdi zmdi-close"></i> SCHEDA DISATTIVA</span>
                    <span class="action"><i class="zmdi zmdi-check"></i> ATTIVA LA SCHEDA</span>
                    </button>
                {% endif %}
                </div>
                <div class="col-md-6" style="text-align:right;">
                    {% if priv_anagrafica > 1 %}
                    <button data-target="#myModal" class="btn btn-primary" onClick="Phoneuser.edit({{ phoneuser.id }})" tabindex="-1">
                    <i class="zmdi zmdi-edit"></i> Modifica
                    </button>&nbsp;&nbsp;
                    <button class="btn btn-info" onClick="Phoneuser.archive({{ phoneuser.id }})" tabindex="-1" data-help="Archiviazione di tutti i dati relativi alla anagrafica">
                    <i class="zmdi zmdi-archive"></i> Archivia
                    </button>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <input type="hidden" id="phoneuser-id" value="{{ phoneuser.id }}">
</div>
