{% load phonecabtags %}
{% load tz %}
<h2>Numeri Autorizzati</h2>
<div class="main" style="width:75%;">
 <table cellspacing="0" cellpadding="4" border="0" class="table table-striped">
     <tr>
     <th style="width:40px;">Stato</th>
     <th style="width:auto;">Etichetta</th>
     <th style="width:50px;text-align:center;">Numero</th>
     <th style="width:30px; text-align:center;">Cellulare</th>
     <!--<th style="width:100px; text-align:center;">Soglia</th>-->
     <th style="width:120px; text-align:center;">Tipologia</th>
     <th style="width:30px; text-align:center;">Straordinaria</th>
     <th style="width:120px; text-align:center;">Azioni</th>
     </tr>
     {% for wl in whitelists %}
     <tr>
     <td style="text-align:center;">
        {% if wl.enabled %}
            <a href="#" tabindex="-1" class="btn btn-mini btn-success enable-whitelist" title="Premi per disabilitare l&apos;autorizzazione" data-id="{{ wl.id }}"><i class="icon-ok icon-white"></i></a>
        {% else %}
            <a href="#" tabindex="-1" class="btn btn-mini btn-danger enable-whitelist" title="Premi per abilitare l&apos;autorizzazione" data-id="{{ wl.id }}"><i class="icon-remove icon-white"></i></a>
        {% endif %}
     </td>
     <td>{{ wl.label }}</td>
     <td style="text-align:center;">{{ wl.phonenumber }}</td>
     <td style="text-align:center;">{{ wl.real_mobile|yesno:"Si,No"  }}</td>
     <!--<td style="text-align:center;">{{ wl.duration|format_time }}</td>-->
     <td style="text-align:center;">{{ wl.get_frequency_display }}</td>
     <td style="text-align:center;">
        {% if wl.extraordinary %}
            <a href="#" tabindex="-1" class="btn btn-mini btn-success extra-whitelist" title="Premi per rendere ordinaria" data-id="{{ wl.id }}"><i class="icon-ok icon-white"></i></a>
        {% else %}
            <a href="#" tabindex="-1" class="btn btn-mini btn-danger extra-whitelist" title="Premi per rendere straordinaria" data-id="{{ wl.id }}"><i class="icon-remove icon-white"></i></a>
        {% endif %}
     </td>
     <td style="text-align:center;">
         <a href="#myModal" tabindex="-1" data-toggle="modal" data-dynamic="true" class="btn btn-mini btn-info show-whitelist-modal" title="Premi per modificare l&apos;autorizzazione" data-id="{{ wl.id }}"><i class="icon-pencil icon-white"></i></a>
         <a href="#" tabindex="-1" class="btn btn-mini btn-warning remove-whitelist" title="Premi per eliminare l&apos;autorizzazione" data-id="{{ wl.id }}"><i class="icon-minus icon-white"></i></a>
     </td>
     </tr>
     {% endfor %}
 </table>
 {% if priv_whitelist > 1 %}
  <br>
  <a href="#myModal" tabindex="-1" data-toggle="modal" class="btn btn-info show-whitelist-modal" data-dynamic="true" data-id="">Nuova</a>
 {% endif %}
</div>