# Backend
DB_ENGINE=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=
DJANGO_PORT=
FRONTEND_URL=http://172.30.99.4:3000

# Frontend
VITE_API_URL=http://localhost:9000

# Database
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_PORT=
PGDATA=

# Environment
ENVIRONMENT=dev
