appnope==0.1.0
decorator==4.0.9
Django==1.11.29
django-extensions==1.6.1
gnureadline==8.0.0
ipython==7.16.3
ipython-genutils==0.1.0
MySQL-python==1.2.5
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
pystrix==1.1.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
Unipath==1.1
xlwt==1.0.0
