{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="stylesheet" href="{% static "css/vendors/bootstrap.min.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">

    <title>PhoneCab - login</title>
</head>
<body class="pattern">
	<div class="container-fluid">
    	<div class="row-fluid">
        	<div class="span12">
                <div class="control-group" style="text-align:center;">
                	<form class="well form-inline login" method="post" action="/login/">{% csrf_token %}
                	<img class="logo" src="{% static "img/phonecab-logo.png" %}" border="0">
                	<br>
                    </ul>
                		<div class="input-prepend" style="margin-bottom:10px;">
							<span class="add-on"><i class="icon-user"></i></span>
	                    	<input type="text" class="input-medium prependedInput" placeholder="username" name="username">
                    	</div>
                    	<br>
                    	<div class="input-prepend" style="margin-bottom:30px;">
	                    	<span class="add-on"><i class="icon-lock"></i></span>
	                        <input type="password" class="input-medium prependedInput" placeholder="password" name="password">
	                    </div>
	                    <br>
                        <button type="submit" class="btn btn-success" style="width:195px; margin-bottom:30px;">Entra</button>
                        <input type="hidden" name="next" value="{{ next }}">
                        {% if error %}
                            <div class="alert alert-error" style="width:360px;">{{ err_msg }}</div>
                        {% endif %}
                	</form>
                </div>
            </div>
    	</div>
	</div>
	<script src="{% static "js/vendors/jquery.min.js" %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static "js/vendors/bootstrap.min.js" %}" type="text/javascript" charset="utf-8"></script>
</body>
</html>
