 <!-- ricariche modal -->
<form class="form-horizontal placeholder-form" novalidate="true">
<fieldset>
  <div class="form-group">
    <label for="credit-recharge" class="col-xs-4 control-label">Importo (&euro;)</label>
    <div class="col-xs-2 filled">
      <input type="text" class="form-control input-small" id="credit-recharge" placeholder="Importo" value="" required>
    </div>
  </div>
  <div class="form-group">
    <label for="credit-reason" class="col-xs-4 control-label">Causale</label>
    <div class="col-xs-6 filled">
    <textarea class="form-control vertical" rows="2"  id="credit-reason" required></textarea>
    </div>
  </div>
</fieldset>
</form>