{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <link charset="utf-8" href="{% static "css/phonecab/print.css" %}"  media="all" rel="stylesheet" title="no title" type="text/css">
    <title>Phonecab -
      {{ header }}</title>
    <script src="{% static "js/print.js" %}" type="text/javascript"></script>
  </head>
  <body>

    <header>
      <h1>{{ header }}</h1>
      <h2>Ricevuta ricarica a favore di {{ phoneuser.get_full_name }}</h2>
    </header>
    <main>

      <div class="total"><h3>Importo ricarica:</h3> {{ credit.recharge }} &euro;</div>
      <div class="total"><h3>Effettuata il:</h3> {{ credit.recharge_date|date:"d-m-Y" }} alle ore {{ credit.recharge_date|date:"H:i" }}</div>
    </main>
    <!--<footer>phonecab</footer>-->
</body>
</html>
