{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="stylesheet" href="{% static "css/vendors/bootstrap.min.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/materialism/styles.min.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/vendors/material-design-iconic-font.min.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/phonecab/style.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/phonecab/print.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <title>Phonecab - {{ header }}</title>
    <script type="text/javascript">

    // print ?

    </script>
</head>
<body>
    <div class="main-container">
    <div style="text-align:center;">
        <h2>{{ header }}</h2>
        <hr>
    </div>
    <div style="text-align:center;">
        <h4>Ricevuta ricarica</h4>
    </div>
    <div class="row">
        <div class="col-xd-4">
        Importo ricarica: {{ credit.recharge }} &euro;
        </div>
        <div class="col-xd-4">
        Effettuata il: {{ credit.recharge_date|date:"d-m-Y" }} alle ore {{ credit.recharge_date|date:"H:i" }}
        </div>
        <div class="col-xd-4">
        A favore di: {{ credit.phoneuser }}
        </div>
    </div>
    </div>
</body>
</html>
