{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="stylesheet" href="{% static "css/vendors/bootstrap.min.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/materialism/styles.min.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/vendors/material-design-iconic-font.min.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/phonecab/style.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/phonecab/print.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <title>Phonecab - {{ header }}</title>
    <script type="text/javascript">

    // print ?

    </script>
</head>
<body>
    <div class="main-container">
    <div style="text-align:center;">
        <h2>{{ header }}</h2>
        <hr>
    </div>
    <div style="text-align:center;">
        <h4>Resoconto Economico {{ phoneuser.get_full_name }} al {{ today }}</h4>
    </div>
    <div class="row">
        <div class="col-xd-4">
        {% for recharge in recharges %}
        <div>{{ recharge.recharge_date|date:"d-m-Y" }} alle ore {{ recharge.recharge_date|date:"H:i" }} {{ recharge.recharge }} - {{ recharge.reason }}</div>
        {% endfor %}
        Torale ricariche: {{ tot_recharge }} &euro;
        </div>
        <div class="col-xd-4">
        Torale spese telefoniche: {{ tot_cost }} &euro;
        </div>
        <div class="col-xd-4">
        Credito residuo: {{ phoneuser.balance }} &euro;
        </div>
    </div>
    </div>
</body>
</html>
