{% extends "base.html" %}
{% load static %}
    {% block title %}PhoneCab - Anagrafiche Archiviate{% endblock %} 
    {% block stylesheet %}
    {% endblock stylesheet %}
    {% block application %}
    <div class="colmain">
        <div id="anagrafica">
            <h2>Anagrafiche Archiviate</h2>
            <div class="accordion-inner">
                <div style="float:left;">
                    <label for="ora_fine" style="margin: 5px 0px 0 10px;vertical-align: top;">Cognome o Matricola:&nbsp;</label>
                    <input type="text" name="pincode" value="{{d.accountcode}}" placeholder="codice" maxlength="8" size="10" style="width:65px;text-align:center;margin: 0px 15px 0 0px;">
        
                    <button class="btn btn-success records-do-filter">Filtra</button>
                    <a href="/records" class="btn btn-info">X</a>
                </div>
                </div>
                <div class="log-records">{{ archived_phoneusers }}</div>
        </div>
    </div>
    {% endblock application %}   
    {% block script %}
    {% endblock script %}    