<div class="card bordered">
    <div class="card-content">
        <div style="float: right;">
            <span class="label {{phoneuser.listening_enabled|yesno:" green,red"}}">
              <span class="zmdi-hc-stack zmdi-hc-lg">
                <i class="zmdi zmdi-headset zmdi-hc-stack-1x"></i>
                {% if not phoneuser.listening_enabled %}
                <i class="zmdi zmdi-block zmdi-hc-stack-2x"></i>
                {% endif %}
              </span>
              Ascolto
            </span>
            &nbsp;&nbsp;
            <span class="label {{phoneuser.recording_enabled|yesno:" green,red"}}">
              <span class="zmdi-hc-stack zmdi-hc-lg">
                <i class="zmdi zmdi-mic zmdi-hc-stack-1x"></i>
                {% if not phoneuser.recording_enabled %}
                <i class="zmdi zmdi-block zmdi-hc-stack-2x"></i>
                {% endif %}
              </span>
              Registrazione
            </span>
        </div>
        <h3 style="border-bottom: 1px dashed #CCCCCC;">{{ phoneuser.last_name }} {{ phoneuser.first_name }}
       {% if not phoneuser.four_bis_limited %}<small>(4bis limitato)</small>{% endif %}</h3>
        <div class="row">
            <div class="col-md-4">
                <h4 style="color:#666;">Codice: {{ phoneuser.pincode }}</h4>
            </div>
            <div class="col-md-4" style="text-align:center;">
                <h4 style="color:#666;">Matricola: {{ phoneuser.serial_no }}</h4>

            </div>
            <div class="col-md-4" style="text-align:right;">
                <h4 style="color:#666;">Lingua: {{ phoneuser.get_language_display }}</h4>
            </div>
        </div>
    </div>
    <input type="hidden" id="phoneuser-id" value="{{ phoneuser.id }}">
</div>
