<form class="form-horizontal placeholder-form" novalidate="true">
<fieldset>
  <!--<legend>{{ form_title }} TEST</legend> <span class="help-block m-b-20">Please fill out the following form below.</span>-->
  <div class="form-group">
    <label for="enabled" class="col-xs-4 control-label">Conferma eliminazione</label>
    <div class="col-xs-4">
      <div class="checkbox">
        <label class="filled">
          <input type="checkbox" id="confirm-delete"></label>
      </div>
    </div>
  </div>
  </fieldset>
  </form>