{% load phonecabtags %}
{% load tz %}
<!-- tabella cdr -->
<div class="card">
          <div class="table-responsive white">
            <table class="table table-striped table-full table-full-small">

              <thead>
                <tr>
                <th style="width:140px;">Data Ora</th>
                <th style="width:40px;">Tipo</th>
                <th style="width:60px;" class="acentro">Codice</th>
                <th style="width:80px;" class="acentro">Matricola</th>
                <th style="width:auto;">Cognome Nome</th>
                <th style="width:100px;">Sorgente</th>
                <th style="width:100px;">Destinazione</th>
                <th style="width:200px;">Numero Autorizzato</th>
                <th style="width:60px;" class="acentro">File</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}                                                 
            <tr>
                <td>{{ item.calldate|date:"d-m-Y H:i"}}</td>
                <td class="acentro">{{ item.detail.custom_calltype|calltype|safe }}</td>
                <td class="acentro">{{ item.pincode }}</td>
                <td class="acentro">{{ item.phoneuser.serial_no }}</td>
                <td>{{ item.phoneuser.get_full_name }}</td>
                <td>{{ item.detail.custom_src }}</td>
                <td>{{ item.detail.custom_dst }}</td>
                <td>{{ item.whitelist.label }}</td>
                <td class="acentro">
                    {% if item.filename != '' %}
                    <a href="{{item.filename}}" target="_blank"><i class="zmdi zmdi-headset"></i></a>
                    {% else %}
                    -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
    </div>
    </div>
    <!-- chiude tabella records -->
    <!-- paginazione records -->
    {% if items %}
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col-md-4">
                    <h4>Numero Registrazioni: {{ total_items }}</h4>
                    </div>
                    <div class="col-md-3">
                        <a href="/records/export/?{{ query_string }}" class="btn btn-success records-export" style="float:left;"><i class="zmdi zmdi-download"></i> Esporta registrazioni</a>
                        <a href="/records/remove/?{{ query_string }}" class="btn btn-danger records-confirm-remove hide" style="float:right;"><i class="zmdi zmdi-close"> Elimina registrazioni</i></a> 
                    </div>
                    <div class="col-md-5" style="text-align:right;">
                        {{ start_item }} - {{ end_item }} di {{ total_items }}&nbsp;&nbsp;
                        <a href="?page={{ prev_page }}&amp;{{ query_string }}" class="btn btn-info {{ prev_page_disabled }}"><i class="zmdi zmdi-chevron-left"></i></a>
                        <a href="?page={{ next_page }}&amp;{{ query_string }}" class="btn btn-info {{ next_page_disabled }}"><i class="zmdi zmdi-chevron-right"></i></a>
                        <input type="hidden" id="items-current-page" value="{{ current_page }}"></input>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- chiude paginazione record -->
        