{% load phonecabtags %}
{% load tz %}
<div class="card bordered">
  <div class="card-header">
    {% if priv_whitelist > 1 %}
    <button class="action btn btn-primary btn-sm" onClick="Whitelist.edit(0)">
      <i class="zmdi zmdi-plus"></i>
      Nuova Autorizzazione</button>
    {% endif %}
    <span class="card-title">
      <i class="zmdi zmdi-format-list-numbered"></i>
      Numeri Autorizzati</span>
  </div>
  <div class="table-responsive white">
    <table class="table table-striped table-full table-full-small">
      <thead>
        <tr>
          <th class="noprint" style="width:40px;">Stato</th>
          <th style="width:auto;">Etichetta</th>
          <th style="width:50px;text-align:center;">Numero</th>
          <th style="width:30px; text-align:center;">Cellulare</th>
          <!--<th style="width:100px; text-align:center;">Soglia</th>-->
          <th style="width:160px; text-align:center;">Tipologia</th>
          <th style="width:30px; text-align:center;">Straordinaria</th>
          <th class="noprint" style="width:120px; text-align:center;">Azioni</th>
        </tr>
      </thead>
      <tbody>
        {% for wl in whitelists %}
        <tr>
          <td class="noprint" style="text-align:center;">
            {% if wl.enabled %}
              {% if priv_whitelist > 0 %}
                <button class="btn btn-xs btn-success" onClick="Whitelist.changeStatus({{ wl.id }},0)" title="Premi per disabilitare l&apos;autorizzazione" {% if forloop.first %}data-help="Lo stato della scheda determina la possibilit&agrave; o meno di effettuare telefonate."{% endif %}>
                  <i class="zmdi zmdi-check"></i>
                </button>
              {% else %}
                <i class="zmdi zmdi-check"></i>
              {% endif %}
            {% else %}
              {% if priv_whitelist > 0 %}
                <button class="btn btn-xs btn-danger" onClick="Whitelist.changeStatus({{ wl.id }},1)" title="Premi per abilitare l&apos;autorizzazione" {% if forloop.first %}data-help="Lo stato della scheda determina la possibilit&agrave; o meno di effettuare telefonate."{% endif %}>
                  <i class="zmdi zmdi-close"></i>
                </button>
              {% else %}
                <i class="zmdi zmdi-close"></i>
              {% endif %}
            {% endif %}
          </td>
          <td>{{ wl.label }}</td>
          <td style="text-align:center;">{{ wl.phonenumber }}</td>
          <td style="text-align:center;">{{ wl.real_mobile|yesno:"Si,No"  }}</td>
          <!--<td style="text-align:center;">{{ wl.duration|format_time }}</td>-->
          <td style="text-align:center;">{{ wl.get_frequency_display }}</td>
          <td style="text-align:center;">
            {% if wl.extraordinary %}
              {% if priv_whitelist > 0 %}
                <button class="btn btn-xs btn-success print" onClick="Whitelist.changeOrdinary({{ wl.id }},0)" title="Premi per rendere ordinaria" {% if forloop.first %}data-help="L'abilitazione/disabilitazione alle chiamate straordinare determina la possibilit&agrave; o meno di effettuare chiamate senza vincoli legati alle chiamate effettuate in precedenza"{% endif %}>
                  <i class="zmdi zmdi-check"></i>
                </button>
              {% else %}
                <i class="zmdi zmdi-check"></i>
              {% endif %}
            {% else %}
              {% if priv_whitelist > 0   %}
                <button class="btn btn-xs btn-danger print" onClick="Whitelist.changeOrdinary({{ wl.id }},1)" title="Premi per rendere straordinaria" {% if forloop.first %}data-help="L'abilitazione/disabilitazione alle chiamate straordinare determina la possibilit&agrave; o meno di effettuare chiamate senza vincoli legati alle chiamate effettuate in precedenza"{% endif %}>
                  <i class="zmdi zmdi-close"></i>
                </button>
              {% else %}
                <i class="zmdi zmdi-close"></i>
              {% endif %}
            {% endif %}
          </td>
          <td class="noprint" style="text-align:center;">
            {% if priv_whitelist > 1 %}
            <button class="btn btn-sm btn-default" onClick="Whitelist.edit({{ wl.id }}, {{ wl.phoneuser.id }})" title="Premi per modificare l&apos;autorizzazione">
              <i class="zmdi zmdi-edit"></i>
            </button>
            <button class="btn btn-sm btn-default" onClick="Whitelist.remove({{ wl.id }})" title="Premi per eliminare l&apos;autorizzazione">
              <i class="zmdi zmdi-delete"></i>
            </button>
            {% endif%}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
