<div id="user-modal" style="padding:15px;">
    <div class="form-inline" style="margin-bottom:10px;">
        <label style="text-align: right; width: 100px;margin-right:2px;">Tipo:</label>
        <label class="radio">
            <input type="radio" name="user-type" id="user-type-op" value="operatore" {% if not utente.is_admin %}checked{% endif %}>Operatore
        </label>
        <label class="radio">
        <input type="radio" name="user-type" id="user-type-admin" value="amministratore" {% if utente.is_admin %}checked{% endif %}>Amministratore
        </label>
    </div>
    <div class="form-inline control-group" id="user-firstname-div" style="margin-bottom:10px;">
        <label style="text-align: right; width: 100px;margin-right:2px;">Nome:</label>
        <input type="text" class="input-medium prependedInput user-firstname" placeholder="nome" name="user-firstname" style="width: 200px;" value="{{ utente.first_name }}">
    </div>
    <div class="form-inline control-group" id="user-lastname-div" style="margin-bottom:10px;">
        <label style="text-align: right; width: 100px;margin-right:2px;">Cognome:</label>
        <input type="text" class="input-medium prependedInput user-lastname" placeholder="cognome" name="user-lastname" style="width: 200px;"  value="{{ utente.last_name }}">
     </div>
     <div class="form-inline control-group" id="user-username-div" style="margin-bottom:10px;">
        <label style="text-align: right; width: 100px;margin-right:2px;">Username:</label>
        <input type="text" class="input-medium prependedInput user-username" placeholder="username" name="user-username" style="width: 200px;"  value="{{ utente.username }}">
     </div>
     <div class="form-inline control-group" id="user-password-div" style="margin-bottom:10px;">
        <label style="text-align: right; width: 100px;margin-right:2px;">Password:</label>
        <input type="password" class="input-medium prependedInput user-password" placeholder="" name="user-password" style="width: 200px;">
     </div>
     <div class="form-inline control-group" id="user-confirm-password-div" style="margin-bottom:10px;">
        <label style="text-align: right; width: 100px;margin-right:2px;">Conferma Password:</label>
        <input type="password" class="input-medium prependedInput user-confirm-password" placeholder="" name="user-confirm-password" style="width: 200px;">
     </div>
     <input type="hidden" name="user_id" id="user-id" value="{{ utente.id }}"></input>
     {% if not utente.is_admin %}
     <div id="privileges">
       <h4>Privilegi</h4>
       <div class="main" style="width:100%;">
        <table cellspacing="0" cellpadding="4" border="0" class="table table-striped">
            <tr>
            <th style="width:auto;">Funzione</th>
            <th style="width:50px;text-align:center;">Lettura</th>
            <th style="width:50px; text-align:center;">Scrittura</th>
            </tr>
            <tr>
            <td><i class="icon-file"></i> Anagrafica</td>
            <td style="text-align:center;"><input type="checkbox" id="priv-ana-read" name="priv-ana-read" value="" checked disabled/></td>
            <td style="text-align:center;"><input type="checkbox" id="priv-ana-write" name="priv-ana-read" value="" {% if priv_anagrafica > 1 %}checked{% endif %}/></td>
            </tr>
            <tr>
            <td><i class="icon-pencil"></i> Whitelist</td>
            <td style="text-align:center;"><input type="checkbox" id="priv-white-read" name="priv-white-read" value=""  {% if priv_whitelist > 0 %}checked{% endif %}/></td>
            <td style="text-align:center;"><input type="checkbox" id="priv-white-write" name="priv-white-read" value=""  {% if priv_whitelist > 1 %}checked{% endif %}/></td>
            </tr>
            <tr>
            <td><i class="icon-shopping-cart"></i> Ricariche</td>
            <td style="text-align:center;"><input type="checkbox" id="priv-credit-read" name="priv-credit-read" value="" {% if priv_credit > 0 %}checked{% endif %}/></td>
            <td style="text-align:center;"><input type="checkbox" id="priv-credit-write" name="priv-credit-read" value="" {% if priv_credit > 1 %}checked{% endif %}/></td>
            </tr>
            <tr>
            <td><i class="icon-asterisk"></i> Dettaglio</td>
            <td style="text-align:center;"><input type="checkbox" id="priv-cdr-read" name="priv-cdr-read" value="" {% if priv_cdr > 0 %}checked{% endif %}/></td>
            <td style="text-align:center;"><input type="checkbox" id="priv-cdr-write" name="priv-cdr-read" value="" disabled/></td>
            </tr>
            <tr>
            <td><i class="icon-headphones"></i> Registrazione</td>
            <td style="text-align:center;"><input type="checkbox" id="priv-record-read" name="priv-record-read" value="" {% if priv_record > 0 %}checked{% endif %}/></td>
            <td style="text-align:center;"><input type="checkbox" id="priv-record-write" name="priv-record-read" value="" disabled/></td>
            </tr>
        </table>
        </div>
     </div>
     {% endif %}
</div>