{% extends "base.html" %}
{% load static %}
{% load phonecabtags %}
{% block title %}PhoneCab - Anagrafica{% endblock %}
{% block application %}

<div class="page-header">
  <h1>
    <i class="zmdi zmdi-settings"></i>
    Preferenze</h1>
  <!--<p class="lead">Lista delle anagrafiche in corso, con lo stato attuale della scheda e la possibilit&agrave; di esportazione dei dati</p>-->
</div>

<form action="/prefs/save/" class="form-floating" method="POST">

  <div class="row">
    {% for fare in fares %}
      <div class="col-md-4">
        <div class="well white">
          <fieldset>
            <legend>
            <i class="{{ fare.icon }}"></i>
            {{ fare.direction }}</legend>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label">Scatto (&euro;)</label>
                <input class="form-control" name="dist_connection_charge" type="text" value="{{ fare.connection_charge|floatformat:4 }}">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label">Tariffa (&euro;/minuto)</label>
                <input class="form-control" name="dist_fee_per_second" type="text" value="{{ fare.fee_per_second|per_minute|floatformat:4 }}">
              </div>
            </div>
            <div class="col-xs-5">
              <div class="form-group">
                <label class="control-label">Prefissi</label>
                <input class="form-control" class="input-small" name="dist_prefix" size="5" type="text" value="{{ fare.prefix_list }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    {% endfor %}

</div>
<div class="row">



<div class="col-md-12">
<div class="well white">
<fieldset>
<legend>
<i class="zmdi zmdi-phone-setting"></i>
Altre preferenze</legend>
<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <label class="control-label">Durata minima (secondi)</label>
      <input class="form-control" name="min_duration" type="text" value="{{ min_duration }}">
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label class="control-label">Avviso fine (secondi)</label>
      <input class="form-control" name="alert_before_end" type="text" value="{{ alert_before_end }}">
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <label class="control-label normal">Soglia</label>
      <div class="row">
        <div class="col-md-6">
          <div class="checkbox">
            <label>
              <input {% if change_threshold == "1" %}checked="checked"{% endif %} name="privacy_mode" type="checkbox" value="1">
              consenti modifica
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Valore preimpostati (in minuti)</label>
            <input class="form-control disabled" name="alert_before_end" type="text" value="{{ threshold }}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label normal filled">Primo ingresso</label>
      <div class="checkbox">
        <label>
          <input {% if enable_first_in == "1" %}checked="checked"{% endif %} name="enable_first_in" type="checkbox" value="1">
          Consenti di impostare questa modalit&agrave;
        </label>
      </div>
    </div>
  </div>
</div>
</fieldset>
</div>
<div class="col-md-12">
<div class="form-group" style="text-align:right;">
<button class="btn btn-primary btn-lg" type="submit">Salva
<div class="ripple-wrapper"></div>
</button>
</div>
</div>
</div>

</form>
{% endblock application %}
{% block script %}
<!-- <script src="{% static "js/prefs.js" %}" type="text/javascript" charset="utf-8"></script> -->
{% endblock script %}
