{% load static %}
{% load phonecabtags %}
<div id="user-modal" style="padding:15px;">
    <div id="privileges">
       <h4>Costi chiamate</h4>
       <div class="main" style="width:100%;">
        <table cellspacing="0" cellpadding="4" border="0" class="table table-striped">
            <tr>
            <th style="width:auto;">Direttrice</th>
            <th style="width:60px;text-align:center;">Scatto<br/>(&euro;)</th>
            <th style="width:60px; text-align:center;">Tariffa (&euro;/minuto)</th>
            </tr>
            <tr>
            <td><i class="icon-home"></i> Nazionale</td>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-naz-scatto" value="{{ naz.connection_charge|floatformat:4 }}" /></td>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-naz-tariffa" value="{{ naz.fee_per_second|per_minute|floatformat:4 }}" /></td>
            </tr>
            <tr><td colspan="3"></td></tr>
            <tr>
            <td><i class="icon-globe"></i> Internazionale Area 1 <a href="#" id="prefs-tooltip-1" rel="tooltip" title="{{ tooltip_text }}"><small>(prefissi)</small></a></td>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int1-scatto" value="{{ int1.connection_charge|floatformat:4 }}" /></td>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int1-tariffa" value="{{ int1.fee_per_second|per_minute|floatformat:4 }}" /></td>
            </tr>
            <tr>
            <td colspan="3">
                <textarea class="prefix-textarea hide" id="prefs-int1-prefix" rows="3" style="width:360px;margin-top:4px;" class="hide " >{{ int1.prefix_list }}</textarea>
            </td>
            </tr>
            <tr>
            <td><i class="icon-globe"></i> Internazionale Area 2 <a href="#" id="prefs-tooltip-2"  title="{{ tooltip_text }}"><small>(prefissi)</small></a></td> 
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int2-scatto" value="{{ int2.connection_charge|floatformat:4 }}" /></td>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int2-tariffa" value="{{ int2.fee_per_second|per_minute|floatformat:4 }}" /></td>
            </tr>
            <tr>
            <td colspan="3">
                <textarea class="prefix-textarea hide" id="prefs-int2-prefix" rows="3" style="width:360px;margin-top:4px;" class="hide " >{{ int2.prefix_list }}</textarea>
            </td>
            </tr>
            <tr>
            <td><i class="icon-globe"></i> Internazionale Area 3 <a href="#" id="prefs-tooltip-3" rel="tooltip" title="{{ tooltip_text }}"><small>(prefissi)</small></a>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int3-scatto" value="{{ int3.connection_charge|floatformat:4 }}" /></td>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int3-tariffa" value="{{ int3.fee_per_second|per_minute|floatformat:4 }}" /></td>
            </tr>
            <tr>
            <td colspan="3">
                <textarea class="prefix-textarea hide" id="prefs-int3-prefix" rows="3" style="width:360px;margin-top:4px;" class="hide " >{{ int3.prefix_list }}</textarea>
            </td>
            </tr>
            <tr>
            <td><i class="icon-globe"></i> Internazionale Area 4 <a href="#" id="prefs-tooltip-4" rel="tooltip" title="{{ tooltip_text }}"><small>(prefissi)</small></a>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int4-scatto" value="{{ int4.connection_charge|floatformat:4 }}" /></td>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int4-tariffa" value="{{ int4.fee_per_second|per_minute|floatformat:4 }}" /></td>
            </tr>
            <tr>
            <td colspan="3">
                <textarea class="prefix-textarea hide" id="prefs-int4-prefix" rows="3" style="width:360px;margin-top:4px;" class="hide " >{{ int4.prefix_list }}</textarea>
            </td>
            </tr>
            <tr>
            <td><i class="icon-globe"></i> Internazionale Area 5 <a href="#" id="prefs-tooltip-5"  title="{{ tooltip_text }}"><small>(prefissi)</small></a>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int5-scatto" value="{{ int5.connection_charge|floatformat:4 }}" /></td>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int5-tariffa" value="{{ int5.fee_per_second|per_minute|floatformat:4 }}" /></td>
            </tr>
            <tr>
            <td colspan="3">
                <textarea class="prefix-textarea hide" id="prefs-int5-prefix" rows="3" style="width:360px;margin-top:4px;" class="hide " >{{ int5.prefix_list }}</textarea>
            </td>
            </tr>
            <tr>
            <td><i class="icon-globe"></i> Internazionale Area 6 <a href="#" id="prefs-tooltip-6" rel="tooltip" title="{{ tooltip_text }}"><small>(prefissi)</small></a>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int6-scatto" value="{{ int6.connection_charge|floatformat:4 }}" /></td>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int6-tariffa" value="{{ int6.fee_per_second|per_minute|floatformat:4 }}" /></td>
            </tr>
            <tr>
            <td colspan="3">
                <textarea class="prefix-textarea hide" id="prefs-int6-prefix" rows="3" style="width:360px;margin-top:4px;" class="hide " >{{ int6.prefix_list }}</textarea>
            </td>
            </tr>
            <tr>
            <td><i class="icon-globe"></i> Internazionale Area 7 <a href="#" id="prefs-tooltip-7" rel="tooltip" title="{{ tooltip_text }}"><small>(prefissi)</small></a>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int7-scatto" value="{{ int7.connection_charge|floatformat:4 }}" /></td>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int7-tariffa" value="{{ int7.fee_per_second|per_minute|floatformat:4 }}" /></td>
            </tr>
            <tr>
            <td colspan="3">
                <textarea class="prefix-textarea hide" id="prefs-int7-prefix" rows="3" style="width:360px;margin-top:4px;" class="hide " >{{ int7.prefix_list }}</textarea>
            </td>
            </tr>
            <tr>
            <td><i class="icon-globe"></i> Internazionale Area 8 <a href="#" id="prefs-tooltip-8" rel="tooltip" title="{{ tooltip_text }}"><small>(prefissi)</small></a>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int8-scatto" value="{{ int8.connection_charge|floatformat:4 }}" /></td>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int8-tariffa" value="{{ int8.fee_per_second|per_minute|floatformat:4 }}" /></td>
            </tr>
            <tr>
            <td colspan="3">
                <textarea class="prefix-textarea hide" id="prefs-int8-prefix" rows="3" style="width:360px;margin-top:4px;" class="hide " >{{ int8.prefix_list }}</textarea>
            </td>
            </tr>
            <tr>
            <td><i class="icon-globe"></i> Internazionale Area 9 <a href="#" id="prefs-tooltip-9" rel="tooltip" title="{{ tooltip_text }}"><small>(prefissi)</small></a>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int9-scatto" value="{{ int9.connection_charge|floatformat:4 }}" /></td>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-int9-tariffa" value="{{ int9.fee_per_second|per_minute|floatformat:4 }}" /></td>
            </tr>
            <tr>
            <td colspan="3">
                <textarea class="prefix-textarea hide" id="prefs-int9-prefix" rows="3" style="width:360px;margin-top:4px;" class="hide " >{{ int9.prefix_list }}</textarea>
            </td>
            </tr>
            <tr>
            <td><i class="icon-road"></i> Mobile</td>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-mob-scatto" value="{{ mob.connection_charge|floatformat:4 }}" /></td>
            <td style="text-align:center;"><input style="text-align:center;" type="text" class="input-mini" id="prefs-mob-tariffa" value="{{ mob.fee_per_second|per_minute|floatformat:4 }}" /></td>
            </tr>
        </table>
        </div>
     </div>
     <h4>Altre preferenze</h4>
     <div class="form-inline" control-group" id="user-firstname-div" style="margin-bottom:10px;">
        <label style="text-align: right; width: 100px;margin-right:2px;">Durata minima:</label>
        <input style="text-align:center;" type="text" class="input-mini prependedInput" id="prefs-min-duration" placeholder="" value="{{ min_duration }}"> 
        <label class="muted">secondi</label>
    </div>
    <div class="form-inline" control-group" id="user-lastname-div" style="margin-bottom:10px;">
        <label style="text-align: right; width: 100px;margin-right:2px;">Avviso fine:</label>
        <input style="text-align:center;" type="text" class="input-mini prependedInput" id="prefs-alert-before-end" placeholder="" value="{{ alert_before_end }}"> 
        <label class="muted">secondi precedenti la fine</label>
     </div>
     <div class="form-inline" control-group" id="user-lastname-div" style="margin-bottom:10px; vertical-align: top;">
        <label class="checkbox" style="margin-right: 2px; text-align:right; width: 100px; vertical-align: top;">Privacy Mode:</label>
		<input type="checkbox" style="float: none;vertical-align: top;" id="prefs-privacy-mode" {% if privacy_mode %}checked{% endif %}>
		<label class="muted">&nbsp;(ultime 4 cifre coperte)</label>
	
	</div>
</div>
{% block script %}
    <script src="{% static "js/prefs.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock script %}