{% load tz %}
{% load static %}
{% load phonecabtags %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/realtime.css" %}" type="text/css" >
{% endblock stylesheet %}
<div class="colmain">
    <div id="daynight-div" style="float:right;">
        <button class="btn btn-large btn-{{ daynight_class }} daynight" data-next-mode="{{ daynight_text }}">{{ daynight_user_text }}</button>
    </div>
    <br /><br /><br />
    <div id="realtime-call">
        <h2>Chiamate Attive</h2>
        <table style="width:100%" id="realtime-table">
        <tr>
            <th style="width:auto; text-align:left">Anagrafica</th>
            <th style="width:120px; text-align:center">Codice</th>
            <th style="width:120px; text-align:center">Sorgente</th>
            <th style="width:180px; text-align:center">Destinazione</th>
            <th style="width:80px; text-align:center">Ora inizio</th>
            <th style="width:150px; text-align:center">Durata</th>
            <!--<th style="width:150px; text-align:right">Credito residuo</th>-->
            <th style="width:240px; text-align:center;padding-right:10px">Azioni</th>
        </tr>
        </table>
    </div>
</div>
<script src="{% static "js/jquery.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/realtime.js" %}" type="text/javascript" charset="utf-8"></script>
