{% extends "base.html" %}
{% load static %}
{% block title %}PhoneCab - Utenti{% endblock %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block application %}
<div class="page-header">
  <button class="action btn btn-primary"
          onClick="Profile.edit(0)"
          data-toggle="tooltip" type="button">
    <span class="zmdi zmdi-plus"></span> Nuovo Utente
    <div class="ripple-wrapper"></div>
  </button>
  <h1><i class="zmdi zmdi-account-circle"></i> Utenti</h1>
  <!--<p class="lead">Lista delle anagrafiche in corso, con lo stato attuale della scheda e la possibilit&agrave; di esportazione dei dati</p>-->
</div>
<div class="card bordered">
    <div class="card-content">
        <form method="GET">
        <div style="float:right;">
                <button class="btn filtra btn-success user-do-filter"><i class="zmdi zmdi-flash"></i> Filtra</button>
                <a href="/profiles" class="btn filtra btn-primary"><i class="zmdi zmdi-close"></i></a>
        </div>
        <span>
            <label>Cognome o username&nbsp;</label>
            <input type="text" name="keyword" value="{{ d.keyword }}" maxlength="20" size="20" class="input-small">
        </span>
        </form>
        <div style="clear:both;"></div>
    </div>
    <div class="inner table" id="profiles">{{ profiles }}</div>
</div>
{% endblock application %}
{% block script %}
<script src="{% static "js/profile.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock script %}
