<form class="form-horizontal placeholder-form" novalidate="true">
<fieldset>
    <div class="form-group">
    <label for="first-name" class="col-xs-4 control-label">Tipo</label>
        <div class="col-xs-4 filled">
            <div class="radio" style="text-align:center;">
                <input type="radio" name="profile_type" id="profile-type-ad" value="amministratore" onClick="Profile.changeType(0)" {% if profile.is_staff %}checked{% endif %}> Amministratore
            </div>
        </div>
        <div class="col-xs-4 filled">
            <div class="radio">
                <input type="radio" name="profile_type" id="profile-type-op" value="operatore" onClick="Profile.changeType(1)"  {% if not profile.is_staff %}checked{% endif %}> Operatore
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="first-name" class="col-xs-4 control-label">Nome</label>
        <div class="col-xs-6 filled">
           <input type="text" class="form-control input-small" id="profile-first-name" placeholder="Nome" value="{{ profile.first_name }}" required>
        </div>
    </div>
    <div class="form-group">
        <label for="first-name" class="col-xs-4 control-label">Cognome</label>
        <div class="col-xs-6 filled">
            <input type="text" class="form-control input-small" id="profile-last-name" placeholder="Cognome" value="{{ profile.last_name}}" required>
        </div>
    </div>
    <div class="form-group">
        <label for="first-name" class="col-xs-4 control-label">Username</label>
        <div class="col-xs-6 filled">
            <input type="text" class="form-control input-small" id="profile-username" placeholder="Username" value="{{ profile.username }}" required>
            <span class="username-check hide" style="color: red;">Gi&agrave; in uso</span>
        </div>
    </div>
    <div class="form-group">
        <label for="first-name" class="col-xs-4 control-label">Password</label>
        <div class="col-xs-6 filled">
            <input type="text" class="form-control input-small" id="profile-password" placeholder="Password" value="" required>
        </div>
    </div>
    <div class="form-group">
        <label for="first-name" class="col-xs-4 control-label">Conferma Password</label>
        <div class="col-xs-6 filled">
            <input type="text" class="form-control input-small" id="profile-confirm-password" placeholder="Conferma Password" value="" required>
            <span class="password-check hide" style="color: red;">Le password non corrispondono</span>
        </div>
    </div>
     <div id="privileges" {% if profile.is_staff %}class="hide"{% endif %} style="margin-top:20px;">
       <h4>Privilegi</h4>
       <div class="main" style="width:100%;">
        <table cellspacing="0" cellpadding="4" border="0" class="table table-striped">
            <tr>
            <th style="width:auto;">Funzione</th>
            <th style="width:50px;text-align:center;">Lettura</th>
            <th style="width:50px; text-align:center;">Scrittura</th>
            </tr>
            <tr>
            <td><i class="icon-file"></i> Anagrafica</td>
            <td style="text-align:center;"><input type="checkbox" id="priv-ana-read" name="priv-ana-read" value="" checked disabled/></td>
            <td style="text-align:center;"><input type="checkbox" id="priv-ana-write" name="priv-ana-read" value="" {% if priv_anagrafica > 1 %}checked{% endif %}/></td>
            </tr>
            <tr>
            <td><i class="icon-pencil"></i> Autorizzazioni</td>
            <td style="text-align:center;"><input type="checkbox" id="priv-white-read" name="priv-white-read" value=""  {% if priv_whitelist > 0 %}checked{% endif %}/></td>
            <td style="text-align:center;"><input type="checkbox" id="priv-white-write" name="priv-white-read" value=""  {% if priv_whitelist > 1 %}checked{% endif %}/></td>
            </tr>
            <tr>
            <td><i class="icon-shopping-cart"></i> Ricariche</td>
            <td style="text-align:center;"><input type="checkbox" id="priv-credit-read" name="priv-credit-read" value="" {% if priv_credit > 0 %}checked{% endif %}/></td>
            <td style="text-align:center;"><input type="checkbox" id="priv-credit-write" name="priv-credit-read" value="" {% if priv_credit > 1 %}checked{% endif %}/></td>
            </tr>
            <tr>
            <td><i class="icon-asterisk"></i> Dettaglio Chiamate</td>
            <td style="text-align:center;"><input type="checkbox" id="priv-cdr-read" name="priv-cdr-read" value="" {% if priv_cdr > 0 %}checked{% endif %}/></td>
            <td style="text-align:center;"><input type="checkbox" id="priv-cdr-write" name="priv-cdr-read" value="" disabled/></td>
            </tr>
            <tr>
            <td><i class="icon-headphones"></i> Registrazione</td>
            <td style="text-align:center;"><input type="checkbox" id="priv-record-read" name="priv-record-read" value="" {% if priv_record > 0 %}checked{% endif %}/></td>
            <td style="text-align:center;"><input type="checkbox" id="priv-record-write" name="priv-record-read" value="" disabled/></td>
            </tr>
        </table>
        </div>
     </div>
     <input type="hidden" id="profile-id" value="{{ profile.id }}">
</fieldset>
</form>