<div class="table-responsive white">
    <table class="table table-striped table-full table-full-small">
        <thead>
        <tr>
        <th style="width:auto;">Nome Cognome</th>
        <th style="width:120px;text-align:center;">Username</th>
        <th style="width:120px;text-align:center;">Amministratore</th>
        <th style="width:120px;text-align:center;">Azioni</th>
        </tr>
        </thead>
        <tbody>
        {% if items %}
            {% for item in items %}
            <tr {% if not item.is_active %} style="color: #ccc;"{% endif %}>
            <td>{{ item.first_name }} {{ item.last_name }}</td>
            <td style="text-align:center;">{{ item.username}}</td>
            <td style="text-align:center;">
                {% if item.is_staff %}
                    <i class="zmdi zmdi-check zmdi-hc-2x"></i>
                {% else %}
                    <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                {% endif%}
            </td>
            <td style="text-align:center;">
            <button class="btn btn-lg btn-round btn-default{% if not item.is_active %} disabled{% endif %}" onClick="Profile.edit({{ item.id }})" data-placement="bottom" data-title="Mostra la scheda relativa a {{ item.first_name }} {{ item.last_name }}" data-toggle="tooltip" data-original-title="" title="">
                    <i class="zmdi zmdi-search mdc-text-grey"></i>
            </button>
            <button class="btn btn-lg btn-round btn-default" onClick="Profile.changeStatus({{ item.id }},{{ item.is_active|yesno:"0,1"}})" data-placement="bottom" data-title="{{ item.is_active|yesno:"Disabilita,Abilita"}} {{ item.first_name }} {{ item.last_name }}" data-toggle="tooltip" data-original-title="" title="">
                <span class="zmdi-hc-stack ">
                    <i class="zmdi zmdi-account zmdi-hc-stack-1x"></i>
                    {% if item.is_active %}<i class="zmdi zmdi-block zmdi-hc-stack-2x" style="color:red;"></i>{% endif%}
                </span>
            </button>
            </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="4" style="text-align:center;"><h3>Non ci sono utenti corrispondenti alla ricerca effettuata.</h3></td></tr>
        {% endif %}
        </tbody>
    </table>
</div>

{% if items %}
<!-- paginazione utenti -->
<div class="card-action">
    <div class="row">
        <div class="col-md-6">
            <h4>Numero utenti: {{ total_items }}&nbsp;&nbsp;</h4>
        </div>
        <div class="col-md-6" style="text-align:right;">
            {{ start_item }} - {{ end_item }} di {{ total_items }}&nbsp;&nbsp;
            <a href="?page={{ prev_page }}&amp;{{ query_string }}" class="btn btn-primary {{ prev_page_disabled }}"><i class="zmdi zmdi-chevron-left"></i></a>
            <a href="?page={{ next_page }}&amp;{{ query_string }}" class="btn btn-primary {{ next_page_disabled }}"><i class="zmdi zmdi-chevron-right"></i></a>
            <input type="hidden" id="items-current-page" value="{{ current_page }}">
        </div>
    </div>
</div>
{% endif %}

<!-- paginazione utenti -->
