{% extends "base.html" %}
{% load static %}
    {% block title %}PhoneCab - Dettaglio Chiamate{% endblock %} 
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/datepicker.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static "css/cdr.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    {% endblock stylesheet %}
    {% block application %}
    <div class="colmain">
        <div id="cdr">
            <h2>Dettaglio Chiamate</h2>
            <div class="accordion-inner">
                <div data-date-format="dd-mm-yyyy" data-date="{{data_inizio_cal}}" class="input-append date cdr-date-filter" style="float:left;">
                    <label for="data_inizio" style=";margin: 5px 5px 0 0;vertical-align: middle;float:left;">Data inizio:&nbsp;</label>
                    <input type="text" value="{{d.start_date}}" name="data_inizio" placeholder="gg-mm-aaaa" maxlength="12" size="8" class="input-small" style="width:85px;text-align:center;">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                <div data-date-format="dd-mm-yyyy" data-date="{{today}}" class="input date cdr-date-filter" style="float:left;">  
                    <label for="ora_inizio" style="margin: 5px 1px 0 10px;vertical-align: top;">dalle:&nbsp;</label>
                    <input name="ora_inizio" type="text" value="{{d.start_time}}" placeholder="hh:mm" maxlength="5" size="5" style="width:45px;text-align:center;">
                </div>
                <div data-date-format="dd-mm-yyyy" data-date="{{data_fine_cal}}" class="input-append date cdr-date-filter" style="float:left;">
                    <label for="data_fine" style="margin: 5px 1px 0 10px;vertical-align: middle;">Data fine:&nbsp;</label>
                    <input type="text" value="{{d.end_date}}" name="data_fine" placeholder="gg-mm-aaaa" maxlength="12" size="8" class="input-small" style="width:85px;text-align:center;">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                <div data-date-format="dd-mm-yyyy" data-date="{{today}}" class="input date cdr-date-filter" style="float:left;">
                    <label for="ora_fine" style="margin: 5px 1px 0 10px;vertical-align: top;">alle:&nbsp;</label>
                    <input name="ora_fine" type="text" value="{{d.end_time}}" placeholder="hh:mm" maxlength="5" size="5" style="width:45px;text-align:center;">
                </div>
                <div style="float:left;">
                    <label for="dst" style="margin: 5px 1px 0 10px;vertical-align: top;">Destinazione:&nbsp;</label>
                    <input name="dst" type="text" value="{{d.dst}}" placeholder="destinazione" maxlength="20" style="width:80px;">
                </div>
                <div style="float:left;">
                    <label for="ora_fine" style="margin: 5px 1px 0 10px;vertical-align: top; width: 58px;text-align: right;">Codice:&nbsp;</label>
                    <input type="text" name="accountcode" value="{{d.accountcode}}" placeholder="Codice" maxlength="8" style="width:65px;text-align:center;">
        
                    <button class="btn filtra btn-success cdr-do-filter">Filtra</button>
                    <a href="/cdr" class="btn filtra btn-info">X</a>
                </div>
                </div>
                <div class="log-cdr">{{ cdr }}</div>
        </div>
    </div>
    {% endblock application %}   
    {% block script %}
    <script src="{% static "js/bootstrap-datepicker.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/cdr.js" %}" type="text/javascript" charset="utf-8"></script>
    {% endblock script %}    